@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 67% 98%; /* #FCFAF7 */
    --foreground: 0 0% 20%; /* #333333 */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 45 57% 46%; /* #B89334 */
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 0 0% 20%;
    --muted: 210 20% 90%;
    --muted-foreground: 226 10% 45%;
    --accent: 45 57% 46%; /* #B89334 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 38 20% 90%;
    --input: 38 20% 90%;
    --ring: 45 57% 46%;
    --chart-1: 45 57% 46%;
    --chart-2: 340 75% 53%;
    --chart-3: 27 36% 50%;
    --chart-4: 45 57% 70%;
    --chart-5: 340 75% 70%;
  }

  .dark {
    --background: 27 36% 18%;
    --foreground: 38 30% 85%;
    --card: 27 36% 15%;
    --card-foreground: 38 30% 85%;
    --popover: 27 36% 12%;
    --popover-foreground: 38 30% 85%;
    --primary: 45 57% 46%;
    --primary-foreground: 27 36% 10%;
    --secondary: 27 30% 25%;
    --secondary-foreground: 38 30% 85%;
    --muted: 27 30% 25%;
    --muted-foreground: 38 30% 70%;
    --accent: 45 57% 46%;
    --accent-foreground: 27 36% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 30% 25%;
    --input: 27 30% 30%;
    --ring: 45 57% 46%;
    --chart-1: 45 57% 46%;
    --chart-2: 340 75% 53%;
    --chart-3: 27 36% 50%;
    --chart-4: 45 57% 70%;
    --chart-5: 340 75% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
